<div id="acctContentHeader">
    <span>Details For Account in</span>
    <span>{{vm.home.accountDetails.acctNumber}}</span>
</div>
<div id="acctContentBody">
    <p>Congratulations {{vm.home.person.firstName}}! <br>
        You are earning {{vm.home.person.percent}}on every purchase with your Cashback Reward Card <br>
        <a href="#">Learn</a> how you might be able to earn more
    </p>
    Current Credit Line
    $20,000
    Cash Advance Line Available
    $2,500
    Annual Percentage Rate (APR)
    7.46%
    e-Statements
    Not Signed Up
</div>